*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  margin: 0;
}
nav {
  padding: 25px 15px;

  box-shadow: 0px 0px 14px 0px #0000001b;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  z-index: 99999;
}
nav .nav-cont {
}
nav h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #212529;
  position: relative;
  margin: 0;
}
nav h1::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #ce1212;
  position: absolute;
  top: 60%;
  border-radius: 20px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}
nav:hover ul {
  display: block;
}
nav ul li {
  margin-inline: 15px;
  padding-block: 5px;
  color: #7f7f90;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  transition: all 0.3s ease;
  position: relative;
}

nav i.fa {
  display: none;
  font-size: 25px;
  color: #212529;
}
nav ul li::before {
  content: "";
  position: absolute;
  background-color: #ce1212;
  bottom: 0;
  width: 0%;
  transition: all 0.3s ease;
  height: 2px;
  margin-inline: auto;
}
nav ul li.home::before {
  width: 100%;
}
nav ul li.home {
  color: #212529;
}
nav ul li:hover::before {
  width: 100%;
}
nav ul li:hover {
  color: #212529;
}
.one {
  background-color: #eeeeee;
  margin-top: 9vh;
  padding-bottom: 60px;
}
.sec-one-cont {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-inline: auto;
  align-items: center;
}
.one .sec-one-left {
  width: 80%;
  text-align: center;
}
.sec-one-left .title {
  color: #37373f;
  font-family: "Amatic SC", sans-serif;
  font-size: 65px;
  font-weight: 700;
  margin: 0;
}
.sec-one-left .text {
  color: #4f4f5a;
  font-family: "Open Sans", sans-serif;
  line-height: 25.6px;
  font-weight: 400;
  margin: 20px 0 40px 0;
}
.sec-one-left .btns {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2.5rem;
}
.sec-one-left .btn-1 {
  padding: 5px 25px;
  background-color: #ce1212;
  border-radius: 30px 30px 30px 30px;
  color: white;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
}

.sec-one-left .btn-1:hover {
  background-color: #e61414;
}
.sec-one-left .btn-2 i.fa {
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
  padding: 20px 20px 20px 23px;
  transition: all 0.3s ease;
}
.sec-one-left .btn-2 i {
  background-color: white;
  border-radius: 50%;
  text-align: center;
  position: relative;
  margin-right: 10px;
}
.sec-one-left .btn-2 {
  transition: all 0.3s ease;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}
.sec-one-left .btn-2 i::after {
  content: "";
  width: 100%;
  height: 100%;
  border: 6px #ce1212 solid;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  border-radius: 50% 50%;
  z-index: 2;
}
.sec-one-left .btn-2:hover i.fa {
  color: #ce1212;
}
.sec-one-left .btn-2:hover {
  color: #ce1212;
}
.one .sec-one-right {
  width: 80%;
}
.one .sec-one-right .pic {
  transition: all 0.3s ease;
  width: 100%;
  margin-block: 50px;
}
.one .sec-one-right img {
  width: 100%;
  filter: drop-shadow(4px 4px 9px #000a);
  transition: all 0.3s ease;
  display: block;
}
.one .sec-one-right img:hover {
  animation: shake 1s infinite;
}
.two {
  padding-top: 60px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}
.two .sec-two-cont {
  width: 80%;
}
.two .sec-two-cont h2 {
  font-size: 14px;
  color: #7f7f90;
  font-family: "inter";
  font-weight: 400;
  margin: 0;
}
.two .sec-two-cont .title {
  color: #212529;
  font-family: "Amatic SC", sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin-top: 0;
}
.title span {
  color: #ce1212;
}
.sec-two-items {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}
.sec-two-items .two-item {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 20px 14px 10px #0000001b;
  position: relative;
  transition: all 0.5s ease-in-out;
  margin-block: 30px;
}
.sec-two-items .two-item:hover {
  transform: scale(1.075);
}
.sec-two-items .two-item .img-cont {
  width: 100%;
  position: relative;
}

.two-item .img-cont ul {
  list-style: none;
  position: absolute;
  background-color: rgb(255, 255, 255, 0.4);
  right: -50px;
  padding: 15px;
  top: 20px;
  border-radius: 10px;
  opacity: 0;
  transition: right 0.3s 0.5s ease-in-out, opacity 0.075s 0.6s ease-in-out;
  z-index: 3;
}
.two-item .img-cont:hover.img-cont ul {
  right: 13px;
  opacity: 1;
}

.two-item .img-cont ul i.fa {
  font-size: 20px;
  color: #747474;
  font-weight: 400;
  line-height: 18px;
  padding-block: 8px;
  transition: all 0.3s ease-in-out;
}
.two-item .img-cont .social-box li i.fa:hover {
  color: #37373f;
}
.sec-two-items .two-item img {
  width: 100%;
  display: block;
  border-radius: 10px 10px 0px 0;
}

.sec-two-items .two-item .img-cont::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -2px;
  z-index: 1;
  background-image: url(../images/team-shape.svg);
  background-position: bottom;
  background-repeat: no-repeat;
}

.two-item h3 {
  margin-block: 0px;
  color: #212529;
  font-size: 18.72px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.two-item .titel {
  color: #7f7f90;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin-top: 0;
}
.two-item .txt {
  color: #7f7f90;
  font-size: 15px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  width: 90%;
  margin-inline: auto;
}
.three {
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.three .sec-three-cont {
  width: 80%;
}
.three .sec-three-cont h3 {
  font-size: 14px;
  color: #7f7f90;
  font-family: "inter";
  font-weight: 400;
  margin-top: 60px;
}
.three .sec-three-cont .title {
  color: #212529;
  font-family: "Amatic SC", sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin-top: 0;
}
.three .sec-three-cont .gallery-photos {
  width: 100%;
  margin-bottom: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.three .sec-three-cont picture {
  width: 100%;
  position: relative;
  overflow: hidden;
  border: #ffffff 2px solid;
  box-shadow: 0px 5px 15px 1px black;
}
.three .sec-three-cont picture img {
  width: 100%;
  display: block;
  transition: all 0.3s ease-in-out;
}
.three .sec-three-cont picture .layer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  background-color: rgb(0, 0, 0, 0.5);
  color: #dddddd;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  transition: all 0.3s ease-in-out;
}
.three .sec-three-cont picture:hover .layer {
  height: 100%;
  opacity: 1;
}
.three .sec-three-cont picture:hover img {
  transform: scale(1.1);
}
.sec-three-cont picture .layer h2 {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  width: 100%;
  margin: 0;
}
.sec-three-cont picture .layer p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 100%;
}
.four {
  padding-block: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.four .sec-four-cont {
  width: 90%;
  text-align: center;
}
.sec-four-cont h3 {
  font-size: 14px;
  color: #7f7f90;
  font-family: "inter";
  font-weight: 400;
  margin-top: 0px;
}
.sec-four-cont .title {
  color: #212529;
  font-family: "Amatic SC", sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin-block: 0;
}
.sec-four-cont .map {
  width: 100%;
  display: block;
  height: 350px;
  margin-top: 20px;
}
.sec-four-lists {
}
.sec-four-lists ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: start;
  gap: 0.9375rem;
}
.sec-four-lists ul li {
  display: flex;
  padding: 20px 15px;
  align-items: center;
  background-color: #f5f5f5;
  width: 100%;
}
.sec-four-lists ul li h3,
.sec-four-lists ul li p {
  margin: 0;
}
.sec-four-lists ul li i.fa {
  font-size: 18px;
  color: white;
  font-weight: 400;
}
.sec-four-lists ul li i {
  background-color: #ce1212;
  padding: 20px;
  border-radius: 50%;
  margin-right: 15px;
}
li .li-cap .f-title {
  color: #7d7d7d;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  font-family: "Inter", sans-serif;
}
li .li-cap .f-txt {
  color: #212529;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.four-form-cont .input-group {
}
.input-group input {
  width: 100%;
  padding: 17px;
  border: #e8e3e3 1px solid;
  border-width: 1px;
  margin-block: 10px;
}
.four-form-cont {
  box-shadow: 0 0 1.875rem #00000014;
  width: 100%;
  margin-inline: auto;
  padding: 15px;
}
.four-form-cont .sub {
  width: 100%;

  padding: 17px;
  border: #e8e3e3 1px solid;
  margin-bottom: 10px;
}
.four-form-cont textarea {
  width: 100%;
  padding: 17px;
  height: 200px;
  margin-bottom: 20px;
  border-color: #e8e3e3;
  border-width: 1px;
}
.four-form-cont button {
  background-color: #ce1212;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  color: white;
  margin-block: 20px;
  transition: all 0.3s ease-in-out;
}
.four-form-cont button:hover {
  background-color: #e61414;
  cursor: pointer;
}
footer {
  background-image: url(../images/textured-metal-background.jpg);
  background-position: center;
  background-size: contain;
}
.footer-cont {
  width: 90%;
  margin-inline: auto;
  color: #ffffff;
  padding-block: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-block: 30px;
}
.left-foot {
  width: 100%;
}
.left-foot .foot-logo {
  width: 45px;
  height: 45px;
}
.left-foot .foot-logo img {
  width: 100%;
  display: block;
  height: 100%;
}
.left-foot .l-f-tit-cont {
  display: flex;
  align-items: center;
}
.left-foot h2 {
  margin: 0;
  padding-left: 10px;
  font-size: 30px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;

  position: relative;
}
.left-foot h2::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #ce1212;
  position: absolute;
  top: 60%;
  border-radius: 20px;
}
.left-foot p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}
.left-foot h3 {
  font-family: "Inter", sans-serif;
  font-size: 18.7px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  border-bottom: #585858 2px solid;
  margin: 0;
}
.left-foot ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.left-foot ul i.fa {
  font-size: 24px;
  font-weight: 400;
}
.midle-foot {
  width: 100%;
}
.midle-foot h3 {
  font-size: 18.72px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
.midle-foot p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0px;
}
.midle-foot form {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.midle-foot form input {
  width: 80%;
  padding: 10px;
  margin-block: 15px;
}
.midle-foot form button {
  padding: 12px 0px;
  width: 18%;
  color: white;
  background-color: #ce1212;
  border: none;
  transition: all 0.3s ease-in-out;
}
.midle-foot form button:hover {
  background-color: #e61414;
}
.midle-foot .links {
  display: flex;
  justify-content: space-between;
}
.midle-foot .links ul {
  width: 47%;
  list-style: none;
  padding: 0;
  position: relative;
}
.midle-foot .links ul li {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 5px;
  position: relative;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.midle-foot .links ul li:hover {
  background-color: #222;
  width: ;
  transform: translateX(10px);
}
.midle-foot .links ul li i.fa {
  font-size: 16px;
  font-weight: 600;
  margin-right: 5px;
}
.right-foot {
  width: 100%;
}
.right-foot h3 {
  font-size: 18.72px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}
.right-foot ul {
  list-style: none;
  padding: 0;
}
.right-foot ul li {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 5px;
  display: flex;
  align-items: center;
}
.right-foot li i.fa {
  font-size: 22px;
  font-weight: 900;
  margin-right: 10px;
  color: #ce1212;
}
@media (min-width: 640px) {
}
/*medium screen and up*/
@media (min-width: 767px) {
  .sec-two-items .two-item {
    width: 48%;
  }
  .two .sec-two-cont {
    width: 80%;
  }
  /*---------3-----------*/
  .three .sec-three-cont picture {
    width: 47%;
  }
  .three .sec-three-cont .gallery-photos {
    flex-direction: column;
    height: 160vh;
    margin-bottom: 0px;
  }
  /*-----4-----*/
  .sec-four-lists ul li {
    width: 48%;
  }
  /*----------f---------*/
  .midle-foot {
    width: 100%;
    align-self: flex-end;
    order: 3;
  }
  .left-foot {
    width: 50%;
    order: 1;
  }
  .right-foot {
    width: 50%;
    order: 2;
  }
}
/*large*/
@media (min-width: 965px) {
  nav .nav-cont {
    width: 80%;

    margin-inline: auto;
  }
  .sec-one-cont {
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 70%;
  }
  .one .sec-one-left {
    width: 40%;
    text-align: left;
  }
  .sec-one-left .btns {
    width: fit-content;
    justify-content: flex-start;
  }
  .sec-one-left .btn-1 {
    border-radius: 0px 30px 30px 30px;
    text-wrap: nowrap;
    margin-bottom: 10px;
  }
  .sec-one-left .btn-2 {
    text-wrap: nowrap;
  }
  .one .sec-one-right {
    width: 40%;
    margin-bottom: 10px;
  }
  .one .sec-one-right .pic {
    margin-block: 0;
  }
  /*-------*/
  .sec-two-items .two-item {
    width: 32%;
  }
  .two .sec-two-cont {
    width: 80%;
  }
  /*-------------3--------------*/
  .three .sec-three-cont picture {
    width: 30%;
  }
  .three {
    height: 150vh;
  }
  .three .sec-three-cont {
    width: 70%;
  }
  .three .sec-three-cont .gallery-photos {
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
    height: 100vh;
  }
  .three .sec-three-cont h3 {
    margin: 0;
  }
  /*-----4--------*/
  .four {
    padding-block: 90px;
  }
  .four .sec-four-cont {
    width: 80%;
  }
  .sec-four-lists ul li {
    width: 48%;
  }
  .input-group input {
    width: calc(50% - 5px);
  }
  .four-form-cont .input-group {
    display: flex;
    justify-content: space-between;
  }
}
/*x-largr*/
@media (min-width: 1200px) {
  nav ul {
    display: flex;
  }
  nav .nav-cont {
    width: 70%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
  }
  nav ul li {
    text-align: center;
  }
  nav i.fa {
    display: block;
  }
  nav:hover ul {
    display: flex;
  }
  .one {
    margin-top: 0;
    height: 100vh;
  }
  .sec-one-cont {
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 70%;
  }
  .one .sec-one-left {
    width: 40%;
    text-align: left;
  }
  .sec-one-left .btns {
    width: fit-content;
    justify-content: flex-start;
  }
  .sec-one-left .btn-1 {
    border-radius: 0px 30px 30px 30px;
  }
  .one .sec-one-right {
    width: 40%;
  }
  .one .sec-one-right .pic {
    margin-block: 0;
  }
  /*----3-------*/
  .three .sec-three-cont {
    width: 80%;
  }
  .three .sec-three-cont .gallery-photos {
    flex-direction: column;
    justify-content: flex-start;
    height: 110vh;
    margin-bottom: 0px;
    justify-content: center;
  }
  /*------f-----------*/
  .midle-foot {
    width: 50%;
    align-self: flex-end;
    order: 2;
  }
  .left-foot {
    width: 24%;
    order: 1;
  }
  .right-foot {
    width: 24%;
    order: 3;
  }
}
/*xx-large*/
@media (min-width: 1400px) {
  nav ul {
    display: flex;
  }
  nav .nav-cont {
    max-width: 1320px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
  }
  nav ul li {
    text-align: center;
  }
  nav i.fa {
    display: block;
  }
  nav:hover ul {
    display: flex;
  }
  .one {
    margin-top: 0;
    height: 100vh;
    padding-bottom: 0;
  }
  .sec-one-cont {
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 70%;
  }
  .one .sec-one-left {
    width: 40%;
    text-align: left;
  }
  .sec-one-left .btns {
    width: fit-content;
    justify-content: flex-start;
  }
  .sec-one-left .btn-1 {
    border-radius: 0px 30px 30px 30px;
  }
  .one .sec-one-right {
    width: 50%;
  }
  .one .sec-one-right .pic {
    margin-block: 0;
  }
  /*---------2----------*/
  .two {
    height: 85vh;
    padding-top: 0px;
  }
  .sec-two-items .two-item {
    margin-block: 0px;
  }
  .sec-two-items .two-item {
    width: 32%;
  }
  .two .sec-two-cont {
    width: 70%;
  }
  /*-----3-------*/
  .three .sec-three-cont picture {
    width: 32%;
  }
  .three {
    height: 150vh;
  }
  .three .sec-three-cont {
    width: 70%;
  }
  .three .sec-three-cont .gallery-photos {
    flex-direction: column;

    height: 120vh;
    margin-bottom: 0px;
    justify-content: center;
  }
  .three .sec-three-cont h3 {
    margin: 0;
  }
  /*-----4-------*/
  .four {
    height: 150vh;
    padding-block: 0;
  }
  .four .sec-four-cont {
    width: 70%;
  }
  .sec-four-lists ul li {
    width: 49%;
  }
  .input-group input {
    width: calc(50% - 5px);
  }
  .four-form-cont .input-group {
    display: flex;
    justify-content: space-between;
  }
  /*-----------f-------*/
  .footer-cont {
    width: 70%;
    padding-block: 30px;
    flex-wrap: nowrap;
  }
  .left-foot {
    width: 24%;
  }
  .midle-foot {
    width: 50%;
  }
  .right-foot {
    width: 24%;
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
